<div class="wrapper">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h3>Balance= <%= @balance %></h3>
    <h3>Debt= <%= @debt %></h3>
    <h3>Total= <%= @total %></h3>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="panel panel-default">
    <div class="panel-heading">
      <table class="table">
         <tr>
          <th>Date</th>
          <th>Title</th>
          <th>Amount</th>
         </tr>
        <% @accounts.each do |account| %>
        <tr>
          <td><%= account.date %></td>
          <td><%= account.title %></td>
          <td><%= account.amount %></td>
          <td><%= link_to 'Delete' , account_path(account), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure?"} %>
          <td><%= link_to 'Update' , edit_account_path(account), class: 'btn btn-sm btn-success' %></td>
        </tr>
        <% end %>
      </table>
     </div>
</div>
<%= will_paginate @accounts %>

